/*col-md-2 col-sm-2 col-xs-2*/
/*GENERAL*/
.borderw{
    border: .2em solid white;
}
.borderg{
    border: .2em solid #EEEEEE;
}
/*TEXT*/
.red{
    color: #E48080;
}
.gray{
    color: #6C6C6C;
}
/*BACKGROUNDS*/
.bggray{
    background-color: #EEEEEE;
}
.bggrayf{
    background-color: #4C4444;
}
.bgred{
    background-color: #E48080;
}
/*SECTIONS*/
.slid1{
    width: 100%;
    height: auto;
}