/*col-md-2 col-sm-2 col-xs-2*/
/*GENERAL*/
.borderw{
    border: .2em solid white;
}
.borderg{
    border: .2em solid #EEEEEE;
}
/*TEXT*/
.red{
    color: #E48080;
}
.gray{
    color: #6C6C6C;
}
/*BACKGROUNDS*/
.bggray{
    background-color: #EEEEEE;
}
.bggrayf{
    background-color: #4C4444;
}
.bgred{
    background-color: #E48080;
}
#latest1{
    background-image: url("../images/a1.jpg");
}
#latest2{
    background-image: url("../images/b1.jpg");
}
#latest3{
    background-image: url("../images/c1.jpg");
}
#latest4{
    background-image: url("../images/d1.jpg");
}
/*SECTIONS*/
.slid1{
    width: 100%;
    height: auto;
}
.latest{
    height: 20em;
}
#up{
    padding: 1%;
    margin-top: -20em;
}