/*GENERAL*/
.borderw{
    border: .2em solid white;
}
.borderg{
    border: .2em solid #EEEEEE;
}
/*TEXT*/
.red{
    color: #E48080;
}
.gray{
    color: #6C6C6C;
}
/*BACKGROUNDS*/
.bggray{
    background-color: #EEEEEE;
}
.bgrayf{
    background-color: #4C4444;
}
.bgred{
    background-color: #E48080;
}